<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="GenerationReport" value="..\..\Data\GenerationReport.xml"/>
    <add key="ReferenceData" value="..\..\Data\ReferenceData.xml"/>
    <add key="outputXml" value="..\..\Data\GenerationOutput.xml"/>
  </appSettings>
</configuration>